{% assign home = site.data.general.items %}
<div class="section" id="home">
    <div id="carouselBackgroundControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/assets/img/backgrounds/denver-bg.jpg')">
            </div>
            <div class="carousel-item" style="background-image: url('/assets/img/backgrounds/minneapolis-bg.jpg')">
            </div>
            <div class="carousel-item" style="background-image: url('/assets/img/backgrounds/chicago-bg.jpg')">
            </div>
        </div>
    </div>
    <img src="{{home.circle |relative_url}}?{{cache_buster}}" class="rounded-circle circle-image"
        alt="{{home.heading}}">
</div>