{% assign home = site.data.general.items %}
<div class="section" id="home">

    <div id="carouselBackgroundControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">

            <div class="carousel-item active" style="background-image: url('/assets/img/backgrounds/denver-bg.jpg')">

            </div>

            <div class="carousel-item" style="background-image: url('/assets/img/backgrounds/minneapolis-bg.jpg')">

            </div>

            <div class="carousel-item" style="background-image: url('/assets/img/backgrounds/chicago-bg.jpg')">

            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselBackgroundControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselBackgroundControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <img src="{{home.circle |relative_url}}?{{cache_buster}}" class="rounded-circle circle-image"
        alt="{{home.heading}}">
</div>