{% assign cache_buster = site.time | date: '%s%N' %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin">

    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{'/assets/img/icon/apple-touch-icon.png'| relative_url}}?{{cache_buster}}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{'/assets/img/icon/favicon-32x32.png'| relative_url}}?{{cache_buster}}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{'/assets/img/icon/favicon-16x16.png'| relative_url}}?{{cache_buster}}">
    <link rel="manifest" href="{{'/assets/img/icon/site.webmanifest'| relative_url}}?{{cache_buster}}">
    <link rel="mask-icon" href="{{'/assets/img/icon/safari-pinned-tab.svg'| relative_url}}?{{cache_buster}}"
        color="#14506f">
    <link rel="shortcut icon" href="{{'/assets/img/icon/favicon.ico'| relative_url}}?{{cache_buster}}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{'/assets/img/icon/browserconfig.xml'| relative_url}}?{{cache_buster}}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{'/assets/css/bootstrap.min.css' | relative_url}}?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" href="{{'/assets/css/main.css' | relative_url}}?{{ site.time | date: '%s%N' }}">

    <meta name="description" content="{{site.data.general.items.boilerplate}}">

</head>