{% assign cache_buster = site.time | date: '%s%N' %}

<nav class="navbar scrolling navbar-expand-md fixed-top">
    <a class="navbar-brand smooth-scroll" href="#top">
        <img class="my-navbar-img scrolling-img d-none d-md-block"
            src="{{'/assets/img/logo-white.png' | relative_url }}?{{cache_buster}}" alt="{{site.title}}">
        <img class="my-navbar-img scrolling-img d-md-none"
            src="{{'/assets/img/logo-black.png' | relative_url }}?{{cache_buster}}" alt="{{site.title}}">
    </a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler hamburger hamburger--spring d-md-none text-white" data-target="#navbarNav"
        data-toggle="collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-2">

            {% for i in site.data.navigation.items %}
            {% unless forloop.last %}
            <li class="nav-item ml-2">
                <a class="nav-link smooth-scroll" href="{{i.url}}">{{i.name}}</a>
            </li>
            {% endunless %}
            {% endfor %}

            <li class="nav-item ml-2">
                <a class="nav-link smooth-scroll" href="#contact">
                    Contact</a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link ml-3 btn blog-btn" href="/blog/" style="color: white;" target="_blank">Blog</a>
            </li> -->

        </ul>
    </div>
</nav>