---
---

$primary-color: {{site.data.general.colors.primary}};
$secondary-color: {{site.data.general.colors.secondary}};
$marks-blue: {{site.data.general.colors.dark_blue}};
$marks-teal: {{site.data.general.colors.tealish}};


@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap');

* {
  font-family: 'Roboto', Helvetica, sans-serif
}

h1,h2,h3,h4 {
  font-weight: bold;
  font-family: 'EB Garamond', serif;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: $marks-blue;
  font-weight: bold;

  &:hover{
    color: darken($marks-blue, 20%)
  }
}

.main {
  min-height: 80vh;
  @media (max-width: 820px) {
    margin-top: 0px;
  }
}

#home {
  min-height: 60vh;
  padding-top: 85px !important;
  padding-bottom: 0;
  @media (max-width: 820px) {
    padding-top: 75px !important;
    }
}

#portraitBackground {
  background-image: url("/assets/img/mark-erjavec-bg.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  @media (max-width: 820px) {
    min-height: 50vh;
  }
}

.container-intro {
  padding: 5rem 2rem;
  @media (max-width: 820px) {
    padding: 5rem 1rem;
  }
}

/* section styles */

.section {
  @media (max-width: 820px) {
    margin-top: 0px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  padding-top: 8rem;
  padding-bottom: 8rem;
}


/* navbar styles */
.nav-link {
  color: white;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 125%;
  transition: 0.7s;
  &:hover {
    color: darken(white, 35%);
    text-decoration: none;
  }
}

.nav-btn {
  color: white;
  font-weight: bold;
  background-color: $marks-teal;
  border-radius: 10px;
  font-size: 100%;
  min-width: 120px;
  padding-top: 0px !important;
  text-align: center;
}

.my-navbar-img {
    height: 60px;
    width: auto;
    @media (max-width: 820px) {
      height: 50px;
    }

}
/* video */

.intro-video {
  // @media (max-width: 820px) {
  //   display: none;
  // }
}

/* container backgrounds */

.bg-darkblue {
  background-color: $marks-blue;
  color: white;
  .highlighter {
    background: linear-gradient(to bottom, transparent 65%, rgba(#dcdcdc, 0.3) 0) center center/10% 75% no-repeat;

  }
}

/* button styles  */

.cta-btn {
  background-color: $marks-teal;
  border-radius: 5px;
  box-shadow: 2px 5px 3px #dcdcdc;
  transition: 0.4s box-shadow;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  min-width: 120px;
  font-size: 120%;
  &:hover {
    box-shadow: 4px 8px 4px #dcdcdc;
    text-decoration: none;
    color: white;
  }
}

.highlighter {
  background: linear-gradient(to bottom, transparent 65%, rgba($marks-blue, 0.25) 0) center center/10% 75% no-repeat;
  background-size: 100% 80% !important;
  padding: .5rem .5rem;
  font-family: 'EB Garamond', serif;
}

/* contact form */

#contactForm {
  transition: 1s all;
}

#contactSuccess {
  transition: 1s all;
}

/* footer */

.my-footer {
  a {
    color: white;
  }
}


/* hamburger styles */
@import 'hamburger';
.hamburger-inner {
  background-color: white !important;
  &::before {
    background-color: white !important;
  }
  &::after {
    background-color: white !important;
  }
}

/* ekko lightbox */

@import 'ekko-lightbox';
