---
---

$primary-color: #283349;
$secondary-color: #f6aa32;
$theme-font: 'Roboto', Helvetica, sans-serif;
$circle-size: 75px;
$skill-size: 100px;


@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap');

* {
  font-family: $theme-font;
}

h1,h2,h3,h4 {
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

a {
  color: black;
  font-weight: bold;

  &:hover{
    color: lighten(black, 20%)
  }
}

.main {
  min-height: 80vh;
}

/* section styles */

.section {
  @media (max-width: 820px) {
    margin-top: 0px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.section-intro {
  text-align: left;
}

/* navbar styles */
.nav-link {
  color: white;
  font-family: $theme-font;
  font-weight: bold;
  font-size: 125%;
  transition: 0.7s;
  &:hover {
    color: darken(white, 50%);
    text-decoration: none;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 100%;
  }
}

.my-navbar-img {
    height: 60px;
    width: auto;
    @media (max-width: 820px) {
      height: 50px;
    }

}

.navbar-scroll {
  box-shadow: 0 2px 10px 0 rgba(86, 91, 115, 0.15);
  background-color: white;
  text-shadow: none !important;
  transition: background-color .3s;
  a {
    color: black !important;
  }
}

.navbar {
  // text-shadow: 2px 2px 4px lightgrey;

  @media (max-width: 820px) {
    background-color: white;
    text-shadow: none;
  }

}

/* container backgrounds */

.bg-darkblue {
  background-color: $primary-color;
  color: white;
  .highlighter {
    background: linear-gradient(to bottom, transparent 65%, rgba(#dcdcdc, 0.3) 0) center center/10% 75% no-repeat;

  }
}

.bg-lightblue {
  background-color: lighten($primary-color, 10%);
}

/* button styles  */

.cta-btn {
  background-color: white;
  border-radius: 4px;
  border: 5px solid $primary-color;
  color: $primary-color;
  min-width: 120px;
  font-size: 120%;
  font-weight: bold;
  transition: 0.4s box-shadow;
  &:hover {
    box-shadow: 4px 8px 4px #dcdcdc;
    text-decoration: none;
    color: $primary-color;
  }
}

.highlighter {
  background: linear-gradient(to bottom, transparent 65%, rgba($secondary-color, 0.80secti) 0) center center/10% 75% no-repeat;
  background-size: 100% 80% !important;
  padding: .5rem .5rem;
  font-family: $theme-font;
}


/* home section */


#home {
  height: 50vh;
  padding-top: 85px !important;
  padding-bottom: 0;
  background-image: url("/assets/img/mark-erjavec-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 820px) {
    margin-top: 80px !important;
  }
}


.circle-image {
  border: 5px solid $secondary-color;
  max-width: 250px;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
}



/* fact cards */

#facts {
  padding-top: 2rem !important;
}

.fact-card {
  color: black;
  box-shadow: 0 4px 8px 0 lightslategrey;

  .fact-circle {
    content: "";
    height: $circle-size;
    width: $circle-size;
    top: $circle-size*-0.5;
    left: 50%;
    background: $secondary-color;
    border-radius: 50%;
    position: absolute;
    margin-left: $circle-size*-0.5;
    background-color: $secondary-color;
    background-size: 42px auto;
    background-repeat: no-repeat;    
  }
}

/* contact form */

#contactForm {
  transition: 1s all;
}

#contactSuccess {
  transition: 1s all;
}

/* footer */

.my-footer {
  a {
    color: white;
  }
}


/* hamburger styles */
@import 'hamburger';

/* ekko lightbox */
@import 'ekko-lightbox';
.img-lightbox {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 5px solid white;
  transition: all .5s;
  &:hover {
    transform: scale(1.1);
  }
}

.ekko-lightbox {
  .modal-footer {
    display: block !important;

    a {
      text-decoration: underline;
    }
  }
}

.linkedin {
  height: 50px;
  path {
    fill: $primary-color;
    transition: fill 1s;
    &:hover {
      fill: darken($primary-color, 5%);
    }
  }
}

.my-footer {
  .linkedin {
    path {
      fill: white;
    }
  }
}


/* quote styles */
.quote-box {
  max-height: 80px;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
}



/* hide things from display in forms but keep for screen readers */

.form-hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.text-muted {
  a {
    color: #6c757d!important
  }
}