<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    {% include navbar_blog.html %}

    <div id="top" class="main" {% unless page.id == 'blog' %}style="padding-top: 5rem;"{% endunless %}>
        <div class="{% if page.id == 'blog' %}{% else %}container mt-5 pt-5{% endif %}">
            <h1>{{page.title}}</h1>
            {{ content }}
            {% unless page.id == 'blog' %}
            <p class="mt-5"><a class="btn blog-btn" href="/blog/index.html">Back to all posts</a></p>
            {% endunless %}
        </div>

        {% unless page.id == 'blog' %}

        <div class="container-fluid bg-light mt-5">
            <div class="container py-5 text-center">
                <h3 class="mb-3">About the Author</h3>
                <img src="{{'/assets/img/mark-erjavec-circle.jpg' | relative_url}}" alt="Mark M. Erjavec"
                    class="img-fluid rounded-circle blog-img">
                <h4 class="mt-2">Mark M. Erjavec</h4>
                <p id="summary" class="mt-3">{{site.data.general.items.boilerplate}}</p>
                </div>
            </div>
        {% endunless %}
    </div>


    {% include footer.html %}

</body>

</html>